body {
	font-family: monospace;
}

h1 {
	text-align: center;

}

.game {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	border: solid;
}

.board {
	text-align: center;
	background-color: rgb(244, 241, 238);
	border-bottom: solid;
	font-weight: bold;
	font-size: 20px;
}

.buttons {
	background-color: rgb(196, 196, 208);
	padding: 10px 0;
}


button {
	background-color: antiquewhite;
	border: 3px solid black;
	padding: 5px 10px;
	font-weight: bold;
}