body {
	font-family: monospace;
}

h1 {
	text-align: center;

}

.content {
	background-color: rgb(196, 196, 208);
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 10px 0;
}

button {
	background-color: antiquewhite;
	border: 3px solid black;
	padding: 5px 10px;
	font-weight: bold;
}